#search{
    display: flex;
    justify-content: center;
}
#seaid{
	float:left;
	width: 450px;
	height: 40px;
	outline: none;
	border:none;
	font-size: 18px;
	text-indent: 1em;
	background:rgba(255,255,255,.2);
}
#subid{
	float:left;
	width: 50px;
	height: 36px;
	outline: none;
	background:transparent;
	border:0;
	font-size: 18px;
	background: url("../image/search.svg") no-repeat center;
	background-position-y: 4px;
	cursor:pointer;
	
}