#center {
    position: relative;
}
/* 设置图标位置 */
/* .right_app_tb {
    position: absolute;
    top: 260px;
    left: 380px;  
} */
/* 设置图标样式 */
ul a {
    float: left;
    width: 70px;
    height: 70px;
    margin: 20px;
    border-radius: 20%;
    overflow: hidden;
}
ul li {
    float: left;
}
/* 给图标放大时一个过渡时间 */
li img {
    transition: all .4s;
}
/* 当鼠标放上图标时，图标变大1.5倍 */
li img:hover {
    transform: scale(1.2);
}
/* 设置字体不要遮挡图片，并移动到中间 */
p {
    width: 40px;
    height: 40px;
    font-size: 15px;
    transform: translate(40px,-15px);
}